{%  extends "base.html" %}
{% block content %}

<div class="header">
  <h2>Register a new user</h2>
</div>
<div class="form">
  <form action="{{ url_for('register') }}" method="POST">
    <input type="text" name="username" placeholder="Enter a username" />
    <input type="password" name="password" placeholder="Enter a password" />
    <!-- Add a new input field for the user's permission level (dropdown) -->
    <select name="permission">
      <option value="admin">Admin</option>
      <option value="user">User</option>
      <option value="guest">Gamesheet</option>
    </select>
    <input type="submit" value="Submit" />
  </form>
</div>

{%  endblock  %}